:root {
  --primary-color: rgb(248, 203, 74);
  --secondary-color: rgb(123, 88, 56);
  --background-color-1: rgba(123, 88, 56, 0.8);
  --background-color-2: rgba(248, 203, 74, 0.4);
}
#section-wrapper {
}

#customized-bg {
  background-color: var(--background-color-2);
  border-radius: 20px;
  margin-bottom: 10px;
}
.cake-pic {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid var(--secondary-color);
}
.home-paragraph {
  font-size: 30px;
  border: none;
}
.btn-primary {
  background: #7b5838 !important;
  border: none !important;
}

.box-style {
  background: radial-gradient(var(--primary-color), var(--secondary-color));
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}
